<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.703974388983-l034fdr36n937lol27g91t5aq9dvqqhs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-703974388983-ios-afb39f0d24636fcd538ff2</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>703974388983-l034fdr36n937lol27g91t5aq9dvqqhs.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>github</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>GmarketSansLight.otf</string>
		<string>GmarketSansBold.otf</string>
	</array>
</dict>
</plist>
